<div *ngIf="flag">
  aaaaa
</div>
<button (click)="show()">按钮</button>
<div class="red green fs40">this is a div</div>
<div [class]="divCls">div2</div>
<div class="red green" [class.fs40]="isLarger">div3</div>
<button (click)="this.isLarger = !this.isLarger">tolarger</button><br>

<input type="text" (input)="doinput($event)">
<div>用户输入的内容是:{{show1}}</div>

<input type="text" [(ngModel)]="Msg">
<div>用户输入的内容是:{{Msg}}</div>

<h1>简易计算器</h1>
num1:<input type="number" [(ngModel)]="inp1"> <br>
num2:<input type="number" [(ngModel)]="inp2"><br>
<button (click)="this.result = this.inp1 + this.inp2">+</button>
<button (click)="this.result = this.inp1 - this.inp2">-</button>
<button (click)="this.result = this.inp1 * this.inp2">x</button>
<button (click)="this.result = this.inp1 / this.inp2">/</button>
<br>
结果:{{result}}